.register {
    display: flex;
    flex-direction: column;
    height: calc(100% - 128px);
    background-color: #131316;
    color: #f2f2f3;
    align-items: stretch;
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.registerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.emptyMargin {
    margin: 0;
}

.emptyPadding {
    padding: 0;
}

.clearLink {
    text-decoration: none;
    color: #4C4CFF;
}