.profile {
    display: flex;
    flex-direction: column;
    height: calc(100% - 128px);
    background-color: #131316;
    color: #f2f2f3;
    align-items: stretch;
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content:center;
    height: 100%;
    min-width:1280px;
    padding:120px 0 0;
}
.mainContent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content:flex-start;
    height: 100%;
}
.navGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 64px 64px 64px;
    align-items:center;
}

.fieldsColumn {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    justify-content: flex-start;
}
.navColumn {
    max-width: 320px;
}
.emptyMargin {
    margin: 0;
}

.emptyPadding {
    padding: 0;
}
.bigGap{
    gap:24px;
}
.clearLink {
    text-decoration: none;
    color: #8585AD;
}
.activeLink {
    text-decoration: none;
    color: inherit;
}