.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #131316;
  color: #f2f2f3;
  align-items: stretch;
  box-sizing: border-box;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height: calc(100vh - 210px);
}

.burgerBlock {
  display: flex;
  max-width: 1240px;
  height: 100%;
  gap: 40px;
  padding: 0;
  overflow: hidden;
  height: 100%;
  flex-direction: row;
}