.profileOrder {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #131316;
    color: #f2f2f3;
    align-items: stretch;
    box-sizing: border-box;
}
.emptyItem {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    width:100%;
}
.emptyItemText{

}