.headerLink{
  max-width: 1280px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}
.header{
  background-color: #1c1c21;
  width: calc(100vw - 80px);
  display: flex;
  justify-content: center;
}
.links{
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.headerLeftBar{
  display:flex;
  flex-direction:row;
  justify-self:start;
}
.headerRightBar{
  display:flex;
  flex-direction:row;
  justify-self:end;
}